:root{
    --radius: 12px;
    --blurVal: 5px;
   --padding: 8px;
  --opacity: 0.7; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /*width: 100vh;*/
    background: url("./restaurant.jpg") no-repeat;
    background-size: cover;
    padding: 8px;
}

/*****************************Header styling********************************/

header {
    background-color: rgba(0, 0, 0, calc(var(--opacity) - 0.1));
    backdrop-filter: blur(var(--blurVal));
    border-radius: calc(var(--radius) );
    height: 70px;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    
}

/*********************************button styling*****************************/

button {
    background-color: #998e33;
    height: 40px;
    width: 100px;
    border-radius: var(--radius);
    border: none;
    font-weight: bold;
}


/********************************************nav styling*******************/

nav{
    display: flex;
    justify-content: space-between;
    width: 25%;
    gap: 12px;
    margin-left: auto;
}

/*************************************************restaurant name styling***************************/

h1{
    color: rgb(152 141 54);
}