*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url('./restaurant.jpg')  no-repeat;
    background-size: cover;
}

header{
    background-color: red;
    height: 50px;
}