:root {
    --radius: 12px;
    --blurVal: 5px;
    --padding: 8px;
    --opacity: 0.7;
    --accent: #998e33;
    --fontColor: rgb(28 27 17);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /*width: 100vh;*/
    background: url("./restaurant.png") no-repeat;
    background-size: cover;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /*align-items: center;*/
}

/*****************************Header styling********************************/

header {
    background-color: rgba(0, 0, 0, calc(var(--opacity) - 0.1));
    backdrop-filter: blur(var(--blurVal));
    border-radius: calc(var(--radius));
    height: 70px;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

/*********************************button styling*****************************/

button {
    background-color: var(--accent);
    height: 40px;
    width: 100px;
    border-radius: var(--radius);
    border: none;
    font-weight: bold;
}

/********************************************nav styling*******************/

nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    gap: 12px;
    margin-left: auto;
}

/*************************************************restaurant name styling***************************/

h1 {
    color: var(--accent);
}

/*************************************************container styling**************************/

#container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

p,
pre {
    background-color: rgba(0, 0, 0, calc(var(--opacity) - 0.1));
    backdrop-filter: blur(var(--blurVal));
    border-radius: var(--radius);
    color: var(--accent);
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    padding: 2em;
    height: fit-content;
}

/********************************************schedule tag styling*********************************/

.schedule > p {
    background: none;
    border: none;
    backdrop-filter: none;
    padding: 2px;
}

.schedule {
    background-color: rgba(0, 0, 0, calc(var(--opacity) - 0.1));
    backdrop-filter: blur(var(--blurVal));
    border-radius: var(--radius);
}

/****************************************************menu styling***********************************/

.card {
    height: 300px;
    background-color: rgba(0, 0, 0, calc(var(--opacity) - 0.1));
    backdrop-filter: blur(var(--blurVal));
    border-radius: var(--radius);
}
